* {
    box-sizing:
    content-box;
    margin: 10px;
    padding: 10px;
    max-width: 1000px;
}

body {
    display:flexbox;
    flex-wrap:nowrap;
    width: 100%;
    min-width: 300px;
    border: 3px solid black;
    min-height: 500px;
    margin: 0;
    padding: 0;

}

header {
    width: 98%;
    margin: 2px;
    padding: 2px;
    min-height: 30px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
}

header .highscore {
    width: auto;
    text-align: left;
    align-content: left;
    color: purple;
    font-size: medium;
}

header .timer {
    width: auto;
    text-align: right;
    align-content: right;
}

main .container{
    margin: 10px auto;
    width: 70%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#questionContainer {
    font-size: 26px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 10px;
    width: 80%;
    text-align:left;
}

#answerContainer {
    display:flex;
    flex-direction:column;
    align-items: flex-start;
    width: 80%;
    min-height: 150px;
    text-align: center;
}

.option {
    border-radius: 10px;
    background-color: rgb(129, 83, 168);
    opacity: 80%;
    box-shadow: 2px 2px grey;
    text-decoration: aliceblue;
    width: 150px;
    height: 20px;
    margin: 5px;
    text-align: left 5px;
}