* {
    box-sizing:content-box;
    margin: 10px;
    padding: 10px;
    max-width: 1000px;
}
html {
    min-width: 300px;
}

body {
    display:flexbox;
    flex-wrap:nowrap;
    width: 100%;
    min-width: 300px;
    border: 3px solid black;
    min-height: 500px;
    margin: 0;
    padding: 0;
}

main {
    padding: 0px;
    min-width: 300px;
}
header {
    min-height: 40px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.highscore {
    font-family:Tahoma, Verdana, sans-serif;
    width: auto;
    text-align: left;
    align-content: left;
    color: purple;
    font-size: medium;
}

.timer {
    font-family:Tahoma, Verdana, sans-serif;
    width: auto;
    text-align: right;
    align-content: right;
}

#container {
    margin: 10px auto;
    padding: 0px;
    width: 60%;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

#questions {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: left;
    font-size: 24px;
}

#questions h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
#questions p {
    font-family:Tahoma, Verdana, sans-serif;
    text-align: center;
    margin: 10px;
    padding: 0px;
}

#start-quiz {
    margin: 10px auto;
    font-size:medium;
}

ul li {
    width: auto;
    min-width: 200px;
    align-self: flex-start;
    background-color: purple;
    border-radius: 10px;
    opacity: 70%;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    width: auto;
    min-width: 200px;
    align-self: center;
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 20px;
    color: grey;
    border-top: 2px solid grey;
}